modules = ["nodejs-18", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 46888572
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build:client"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
